<header>
    <nav>
        <a [routerLink]="['']">Home</a>
        <a [routerLink]="['about']">About</a>
    </nav>
</header>
<div class="container">
    <router-outlet></router-outlet>
</div>

<!--<footer>
    <a [href]="url">Webpack Angular 2 Starter</a>
</footer>-->