<h1>Car List</h1>

<!--Large modal-->
<button class="btn btn-primary" (click)="lgModal.show()">Add</button>

<div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Large modal</h4>
                <button type="button" class="close pull-right" (click)="lgModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <section class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="email">Model:</label>
                        <div class="col-sm-10">
                            <input [(ngModel)]="car.model" type="text" class="form-control" id="email" placeholder="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="email">Manufacturer:</label>
                        <div class="col-sm-10">
                            <input [(ngModel)]="car.manufacturer" type="text" class="form-control" id="email" placeholder="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="email">Avatar:</label>
                        <div class="col-sm-10">
                            <input [(ngModel)]="car.avatar" type="text" class="form-control" id="email" placeholder="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="email">Description:</label>
                        <div class="col-sm-10">
                            <input [(ngModel)]="car.description" type="text" class="form-control" id="email" placeholder="">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button (click)="addNewCar()" class="btn btn-default">Save</button>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>

<div bsModal #editModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Edit Car</h4>
                <button type="button" class="close pull-right" (click)="editModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <section class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="email">Model:</label>
                        <div class="col-sm-10">
                            <input [(ngModel)]="editedCar.model" type="text" class="form-control" id="email" placeholder="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="email">Manufacturer:</label>
                        <div class="col-sm-10">
                            <input [(ngModel)]="editedCar.manufacturer" type="text" class="form-control" id="email" placeholder="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="email">Avatar:</label>
                        <div class="col-sm-10">
                            <input [(ngModel)]="editedCar.avatar" type="text" class="form-control" id="email" placeholder="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="email">Description:</label>
                        <div class="col-sm-10">
                            <input [(ngModel)]="editedCar.description" type="text" class="form-control" id="email" placeholder="">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button (click)="editModal.hide()" class="btn btn-default">Save</button>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>

<table class="table">
    <tr>
        <th>id</th>
        <th>
            Model
        </th>
        <th>
            manufacturer
        </th>
        <th>
            avatar
        </th>
        <th>
            description
        </th>
        <th>
            createdOn
        </th>
    </tr>
    <tr *ngFor="let car of carList">
        <td>
            {{car.id}}
        </td>
        <td>
            {{car.model}}
        </td>
        <td>
            {{car.manufacturer}}
        </td>
        <td>
            {{car.avatar}}
        </td>
        <td>
            {{car.description}}
        </td>
        <td>
            {{car.createdOn}}
        </td>
        <td>
            <button class="btn" (click)="updateCar(car)">Update</button>
            <button class="btn" (click)="deleteCar($index)">Delete</button>
        </td>
    </tr>
</table>